<mat-form-field style="width: 100%;">
    <mat-label>Password</mat-label>
    <input 
        matInput 
        [(ngModel)]="value"
        (ngModelChange)="onChange($event)"
        (blur)="onTouched()" 
        [type]="hide ? 'password' : 'text'" 
        autocomplete="false"
        maxlength="50"
        placeholder="Enter the password">
    <mat-icon *ngIf="value" matSuffix (click)="toggleVisibility()">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-icon *ngIf="value" matSuffix (click)="clearInput()" aria-hidden="false" fontIcon="close"></mat-icon>
    <mat-hint *ngIf="value">{{'Password is ' + hint}}</mat-hint>
</mat-form-field>